@charset "UTF-8";
@font-face{
    font-family: 'Idroid';
    src:url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

header{
    background-image: linear-gradient(#4ce03fd0 10%, #226e1b);
    text-align: center;
    color: white;
    height: auto;
    width: auto;
    
}

header > h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    border: 8px;
    padding: 5px;
    margin: 3px;
}

header > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: small;
    text-align: center;
}

nav{
    padding: 3px;
    box-shadow: 3px 5px 9px rgba(0, 0, 0, 0.747);
    text-align: left;
}

nav > a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    margin-right: 30px;
}

nav > a:hover { 
    box-shadow:inset 3px 3px 5px rgb(90, 255, 57)
}

.boxcenter{
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 75%;
    padding: 3px 5px 3px 5px;
    margin: auto;
    text-align: center;    
}

body{
    background-color: rgb(104, 199, 136);
    color: black
}

strong{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #226e1b;
    font-weight: bolder;
}

a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #226e1b;
    font-weight: bolder;
}

h2{
    font-family: Idroid, Arial, Helvetica, sans-serif;
    color: #226e1b;
}

h3{
    font-family: Idroid, Arial, Helvetica, sans-serif;
    text-align: left;
    text-indent: 8px;
    color: #226e1b;
    padding: 5px;
    margin-left: 15px;
    background-image: linear-gradient(to right,rgba(120, 245, 120, 0.678), rgba(245, 240, 240, 0.507))
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: justify;
    text-indent: 15px;
    margin: 10px;
}