@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to top, #5c7764 10%, #12a804 );  
}

main{
    background-color: rgba(255, 255, 255, 0.438);
    border-radius: 10px;
    box-shadow: 5px 5px 15px #083f038f;
    width: 600px;
    padding: 10px; 
    margin: auto;
}

h1 {
    color: #CEF09D;
    text-align: center;
    text-shadow: 1px 1px 2px #566440ad;
}

h2 {
    color: #B8ECD7;
    text-shadow: 1px 1px 2px #124d35c4;
}

p {
    text-align: justify;
}